.container-items {
  width: 90%;
  height: 90%;
  background-color: red;
  display: flex;
  justify-content: center;
}

.container-products-list {
  margin-top: 10px;
  width: 100%;
  display: flex;
  background-color: green;
}

.products-list {
  width: 100%;
}

.product {
  display: flex;
  justify-content: space-around;
}