.add-list {
  background-color: yellow;
}

.title {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.options {
  width: 500px;
  margin-bottom: 15px;
}

.input-products {
  width: 493px;
}

.option-select {
  width: 100%;
}

.add-product {
  width: 100%;
  background-color: green;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 25px;
}